allow audioserver self:socket create_socket_perms;
allowxperm audioserver self:socket ioctl msm_sock_ipc_ioctls;
allow audioserver qmuxd_socket:dir { add_name write search };
allow audioserver qmuxd_socket:sock_file { create write setattr };
allow audioserver qmux:unix_stream_socket connectto;
