# CPU governor (root process)
type mpdecision, domain;
type mpdecision_exec, exec_type, file_type;

# DAC overrides
allow mpdecision self:capability dac_override;

# Started by init
init_daemon_domain(mpdecision)

# CPU hotplug uevent to manage cores
allow mpdecision self:netlink_kobject_uevent_socket { create setopt bind read };
allow mpdecision self:capability net_admin;

# Create under /dev/socket/mpdecision
allow mpdecision mpdecision_socket:dir w_dir_perms;
allow mpdecision mpdecision_socket:sock_file create_file_perms;

# Also support mpdecision creating the /dev/socket/pb socket
type_transition mpdecision socket_device:sock_file mpdecision_socket;
allow mpdecision self:capability chown;
allow mpdecision socket_device:dir w_dir_perms;

# By-product of setting owner on sock_file (don't allow)
dontaudit mpdecision self:capability fsetid;

allow mpdecision sysfs_devices_system_cpu:file rw_file_perms;
allow mpdecision sysfs_mpdecision:dir r_dir_perms;
allow mpdecision sysfs_mpdecision:file rw_file_perms;

# Allow writing in /sys/devices/system/cpu
allow mpdecision sysfs_devices_system_cpu:file w_file_perms;

# This is needed to allow mpdecision to look at power hal's
# /proc/PID/status file.
r_dir_file(mpdecision, hal_power_default)

allow mpdecision self:capability sys_nice;
